@page "/dash/menu"
@inject NavigationManager _nav
@inject LoginService _login
@inject IRefreshRequestService _refresh;

@if (_login.LoggedIn)
{
    if (_login.ActiveGuild is not null)
    {
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dash">Dashboard</a></li>
            <li class="breadcrumb-item">@_login.ActiveGuild.Name</li>
        </ol>

        <div class="jumbotron">
            <h1 class="display-3">
                <img class="rounded-circle z-depth-2" alt="(icon)" width="75" src="@_login.GetIconUrl()" />
                @_login.ActiveGuild.Name
            </h1>
            <p class="lead">@_login.ActiveMember.DisplayName - @_login.PermString</p>
            <hr class="my-4" />
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/dash/quotes?guild=@_login.ActiveGuild.Id">Quotes</a>
                @if (_login.IsModerator)
                {
                    <span class="m-lg-2"></span>
                    <a class="btn btn-warning btn-lg" href="/dash/mod?guild=@_login.ActiveGuild.Id">Moderation</a>
                }
            </p>
        </div>
    }
    else
    {
        <h4>Loading...</h4>
    }
}
else
{
    <RequireLogin />
}

@code
{
    private string? DisplayName = "";
    private string? PermString = "";

    protected override void OnInitialized()
    {
        _refresh.RefreshRequested += RefreshMe;

        base.OnInitialized();
    }

    private void RefreshMe()
    {
        StateHasChanged();
    }
}
